 /* Estilos de la tabla: collapse y nth-child */
    h1 {
            font-size: 2rem;
            margin-bottom: 1em;
        }
        
        /* Agregar color y alinear los th y td */
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }

        p {
            color: rgb(0,128,255);
        }

        .p-email {
            color: #ff5733;
        }
        #p-disponibilidad {
            font-weight: bold;
        }

        div p{
            color: blueviolet;
        }

        td:hover {
            background-color: saddlebrown;
            cursor: pointer;
        }

        tbody > tr:hover {
            background-color: wheat;
        }

        tbody tr:nth-child(odd) {
            background-color: #e8f4fc;
        }
